<html>


<head>
      <title>Weather</title>
    <link rel="icon" href="weather.png">
 <link rel="stylesheet" href="css/style.css">
 

</head>

<body>

    <div class="main-content">
    {{>header}}

    <br>
    <br>
    <br>


    <form>
        <h3>Enter the location </h3>
        <input placeholder="location">
        <button>Search</button>
    </form>

    <script src="js/app.js"> </script>
    

    <p id="message-1"></p>
    <p id="message-2"></p>


    


    
    
   
</div>



    {{>footer}}
</body>

</html>


